@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

#root {
    background-image: url(./img/Untitled-1.jpg);
    background-size:cover;
    padding-bottom:2rem;
    padding-left: 2rem;
    padding-top: 3rem;
    margin:1rem;
    width: 25rem;
    height: 9.5rem;
    margin-left: auto;
    margin-right: auto;}

.bubble {
    font-size: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.trial {
  background-color: #fdfdfd50;
width: 100px;;}