#root {
    background-image: url(./img/Untitled-1.jpg);
    background-size:cover;
    padding-bottom:2rem;
    padding-left: 2rem;
    padding-top: 3rem;
    margin:1rem;
    width: 25rem;
    height: 9.5rem;
    margin-left: auto;
    margin-right: auto;}
    
